.modalHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
  align-items: center;
}
.modalTitle {
  font-weight: 500;
  margin-block-start: 1.67em;
  margin-block-end: 1.67em;
  font-size: 13px;
}
